:root {
  --primary-text-color: #757575;
  --title-tex-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --link-footer: rgba(255, 255, 255, 0.6);
  --dark-fone: #2f303a;
  --bleak-color: #000000;
  --background-color-section: #f5f4fa;
  --fill-acon: #afb1b8;
  --border-portfolio: #eeeeee;
  --border-header: #ececec;
  --background-overley: rgba(47, 48, 58, 0.4);
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
  --dark-background-button: #188ce8;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-tex-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* none */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* header */

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-header);
}
.header .conteiner {
  display: flex;
  align-items: center;
}

/* nav */

.logo-nav {
  color: var(--bleak-color);
}

.link-nav {
  margin-right: 90px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.link-nav {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.list-item-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-tex-color);

  transition: color 250ms var(--transition);
}

.list-item-link:hover,
.list-item-link:focus {
  color: var(--accent-color);
}

.list-item-link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(3px);
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;

  transition: opacity 250ms var(--transition);
}

.list-item-link:hover::after {
  opacity: 1;
}

.studio::after {
  opacity: 1;
}

/* contacts header */

.list-contacts {
  display: flex;
  margin-left: auto;
  align-items: baseline;
  align-items: center;
}

.list-contacts .contacts-list-item + .contacts-list-item {
  margin-left: 50px;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--transition);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.icon-meseg {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.icon-tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.studio {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--dark-fone);
  padding-top: 200px;
  padding-bottom: 190px;
}

.center {
  text-align: center;
  margin: 0px auto;
  width: 700px;
}

.overlay {
  width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      var(--background-overley),
      var(--background-overley)
    ),
    url(../img/hero-optimiz.jpg);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--white-color);
  padding: 10px 30px;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--dark-background-button);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;

  transition: opacity 250ms var(--transition),
    visibility 250ms var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 580px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--transition);
}

.button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 7px;
  border-color: var(--fill-acon);
  cursor: pointer;
}

.button-close {
  fill: var(--bleak-color);
  transition: fill 250ms var(--transition);
}

.button:focus .button-close,
.button:hover .button-close {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.b-modal {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-tex-color);
}

.modal-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--transition);
}

.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.wrapper-input {
  position: relative;
  display: block;
}

.svg-input-modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--transition);
}

.modal-input:focus + .svg-input-modal {
  fill: var(--accent-color);
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--transition);
}

.modal-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-textarea::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.wrapper-check-box {
  text-align: center;
}

.label-check,
.link-check {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-check:checked + .label-check::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../img/check.svg);
}

.modal-check:focus + .label-check::before {
  border-color: var(--accent-color);
}

.label-check::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background: #ffffff;
  border: 2px solid var(--title-tex-color);
  border-radius: 3px;
  background-position: center;
}

.link-check {
  text-decoration: underline;
  color: var(--accent-color);
}

.link-check:hover,
.link-check:focus {
  color: var(--accent-color);
}

.send-btn {
  display: block;
  margin: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--white-color);
  padding: 10px 56px;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms var(--transition);
}

.send-btn:hover,
.send-btn:focus {
  background-color: #188ce8;
}

/* about */

.hidden {
  display: none;
}

.about-list {
  display: flex;
  justify-content: center;
}

.about-list-item {
  width: 270px;
}

.icon-about-list {
  width: 270px;
  height: 120px;
  background-color: var(--background-color-section);
  margin-bottom: 30px;
}
.icon-about-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-tex-color);
  margin-bottom: 10px;
}

.about-list-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* section img */

.section-img {
  padding-bottom: 94px;
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  color: var(--title-tex-color);
  margin-bottom: 50px;
  text-align: center;
}

.img-list {
  display: flex;
  margin: -15px;
}

.img-list-item {
  position: relative;
  margin: 15px;
}

.text-img-adsolut {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.text-img-adsolut p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
}

/* team */

.team {
  background-color: var(--background-color-section);
}

.list-team {
  display: flex;
}

.subtitle-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--title-tex-color);
  margin-bottom: 10px;
  text-align: center;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.tiem-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.tiem-item:not(:last-child) {
  margin-right: 30px;
}

.card-text {
  background-color: var(--white-color);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.item-icon {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.tiam-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  fill: var(--fill-acon);

  transition: background-color 250ms var(--transition),
    fill 250ms var(--transition);
}

.tiam-social-link:focus,
.tiam-social-link:hover {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.list-team-icon {
  display: flex;
  justify-content: center;
}

.item-icon:not(:last-child) {
  margin-right: 10px;
}

/* clients */

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-linc-clients {
  width: 170px;
  height: 90px;
  cursor: pointer;
}
.linc-clients:hover,
.linc-clients:focus {
  border: 1px solid var(--accent-color);
}

.linc-clients:hover svg,
.linc-clients:focus svg {
  fill: var(--accent-color);
}

.linc-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid var(--fill-acon);
  border-radius: 4px;

  transition: border 250ms var(--transition);
}

.icon-clients {
  fill: var(--fill-acon);
  transition: fill 250ms var(--transition);
}

.yago {
  width: 44px;
  height: 49px;
}

.here {
  width: 40px;
  height: 52px;
}

.compani {
  width: 41px;
  height: 42px;
}

.foster {
  width: 79px;
  height: 42px;
}

.brand {
  width: 59px;
  height: 47px;
}

.tagline {
  width: 88px;
  height: 45px;
}

/* footer */
.footer {
  background-color: var(--dark-fone);
  padding-top: 60px;
  padding-bottom: 60px;
  height: 250px;
}
.footer-conteiner {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.address-footer {
  font-style: normal;
}

.logo-footer {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.text-logo {
  color: var(--white-color);
}

.link-footer {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--link-footer);

  transition: color 250ms var(--transition);
}

.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}

.item-footer:not(:last-child) {
  margin-bottom: 10px;
}

.white-link {
  color: var(--white-color);
}

.footer-address {
  margin-right: 70px;
}

.footer-list {
  display: flex;
}

.conteiner-soclinks-footer b {
  display: block;
  color: var(--white-color);
  margin-bottom: 20px;
}

.item-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;

  transition: background-color 250ms var(--transition);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.b-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe-conteiner {
  margin-left: auto;
}

.b-footer {
  display: block;
  margin-bottom: 20px;
}

.input-footer {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding: 15px;
  color: var(--white-color);
  background-color: var(--dark-fone);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms var(--transition);
}

.input-footer:focus {
  outline: none;
  border-color: var(--accent-color);
}

.input-footer::placeholder {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  margin-left: 12px;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms var(--transition);
}

.subscribe-button::after {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  top: 13px;
  right: 28px;
  background-image: url(../img/telegramm.svg);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--dark-background-button);
}

/* portfolio */
/* section portfolio botton */

.portfolio::after {
  opacity: 1;
}

.botton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background: var(--background-color-section);
  padding: 6px 22px;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms var(--transition),
    color 250ms var(--transition), box-shadow 250ms var(--transition);
}

.botton:hover,
.botton:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.botton:hover,
.botton:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}

.active {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.list-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.item-botton:not(:last-child) {
  margin-right: 8px;
}

.section-portfolio {
  padding-top: 95px;
  padding-bottom: 95px;
}

.portfolio {
  color: var(--accent-color);
}

/* portfolio img */

.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--transition);
}
.portfolio-link:hover .overlay-portfolio,
.portfolio-link:focus .overlay-portfolio {
  transform: translate(0);
}

.overlay-container {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.overlay-portfolio p {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.portfolio-item {
  width: 370px;
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-tex-color);
  margin-bottom: 6px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.card-text-portfolio {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;
  border-bottom: 1px solid var(--border-portfolio);
  border-left: 1px solid var(--border-portfolio);
  border-right: 1px solid var(--border-portfolio);
  box-sizing: border-box;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-link {
  display: block;
  height: 100%;
  width: 100%;

  transition: box-shadow 250ms var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
